html, body {
	padding:0;
	margin:0;
	width:100%;
    font-family:sans-serif;
}

h1 {
	margin: 8px;
	text-align: center;
	display:none;
}

.screen {
	padding:8px;
	border:1px solid #ccc;
	margin:8px;
}

.button{
	background-color:#eee;
	border:1px outset #ccc;
	padding:16px;
	margin:8px;
	display:block;
	border-radius:8px;
	font-weight:bold;
	text-decoration:none;
	color:inherit;
	cursor:pointer;
	font-size:110%;
	text-align:center;
}

.button-do{
	background-color:#9c9;
}

.button-right{

}
.button-left{}

ol.results {
	list-style-type:none;
	padding:0;
	margin:8px 0 0 0;
}

ol.results li {
    background-color: #FFF;
	-moz-transition: background-color 0.5s; /* Firefox 4 */
	-webkit-transition: background-color 0.5s; /* Safari and Chrome */
	-o-transition: background-color 0.5s; /* Opera */
    padding: 8px;
    margin: 4px;
    font-size: 100%;
}

ol.results li.valid {
	background-color: #efe;
}

span.data {
    font-weight: bold;
}

span.debug {
	font-weight: normal;
}
span.muted {
	font-weight:normal;
	color: #999;
}

.right-block, .left-block{
		display:inline-block;
		margin:8px 0;
		width:45%;
}
.right-block{
		padding-left:8px;
		border-left:1px solid #ccc;
}
